extends layout
    
block content

    div(ng-controller='chatController')
        div.chat-container
            div.chat-window
                div(ng-repeat='message in messages')
                    message(data="message")

            div Send a message as #{user.local.name}
                form
                    input(id="message-input")
                    button Send!

        div.participants

        script.
            var token = "#{user.token}";