extends layout

block content
    div.container
        div(class="col-sm-6 col-sm-offset-3")
            h1
                span(class="fa fa-sign-in") Login
            if message
                div(class="alert alert-danger")= message
            form(action="/login", method="post")
                div.form-group
                    label Email:
                    input(type="text", class="form-control", name="email")
                div.form-group
                    label Password:
                    input(type="password", class="form-control", name="password")
                div.form-group
                    label Remember Me:
                    input(type="checkbox" name="remember_me" value="1")
                button(type="submit",class="btn btn-warning btn-lg") Login
                hr
                p Need an account?
                    a(href="/signup")  Signup