extends ../game

block content

    div(ng-controller="socketAuthController")
        canvas(id="stack-attack" ng-controller="stackAttackController")
    script.
        var token = "#{token}";
    script(src="/js/webgl-fmi.js")
    script(id="vshader" type="x-shader/x-vertex").
        attribute vec2 aXY;
        attribute vec2 aXYpos;
        attribute vec3 aRGB;

        varying vec3 vRGB;

        vec2 add(vec2 v1,vec2 v2) {
            return vec2(v1.x + v2.x, v1.y + v2.y);
        }

        void main() {
            gl_Position = vec4(add(aXY,aXYpos), 0, 1);
            vRGB = aRGB;
        }

    script(id="fshader" type="x-shader/x-fragment").
        precision mediump float;

        varying vec3 vRGB;

        void main() {
            gl_FragColor = vec4(vRGB, 1);
        }
    script(src="/js/games/controllers/stack-attack.controller.js")
    script(src="/js/games/directives/stack-attack.directive.js")
